

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 50px;
    box-shadow: 0 1px 8px #ddd;
}

.nav-title {
    margin-right: auto;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3vh;
    margin-right: 10px;
}

header a {
    text-decoration: none;
    color: #555;
    transition: all 0.3s ease 0s;
}

header a:hover {
    color: #ffbb00;
}

